@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    margin: 0;
    padding: 0;

    @apply font-body;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h5 {
    @apply font-heading;
  }
}

@theme inline {
  --font-*: initial;
  --font-heading: var(--font-oswald);
  --font-body: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}
