@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
  }
}

@theme inline {
  --font-*: initial;
  --font-heading: var(--font-geist-mono);
  --font-body: var(--font-geist-sans);
  --font-mono: var(--font-geist-sans);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
